@using SqlSugarDAL.wareHouse
@model List<T_WAREHOUSE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline layui-show-xs-block hidden">
                <select name="HouseNo" id="WAREHOUSENO" lay-verify="required" lay-search>
                    @foreach (var item in Model)
                    {
                        if (ViewBag.houseNo == item.WAREHOUSENO)
                        {
                            <option value="@item.WAREHOUSENO" selected="selected">@item.WAREHOUSENO</option>
                        }
                        else
                        {
                            <option value="@item.WAREHOUSENO">@item.WAREHOUSENO</option>
                        }
                    }
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block hidden">
                <select name="OrderType" id="OrderType" lay-verify="required" lay-search>
                    @if (ViewBag.orderType == "0")
                    {
                        <option value="0" selected="selected">出货单看板</option>
                    }
                    else
                    {
                        <option value="0">出货单看板</option>
                    }
                    @if (ViewBag.orderType == "1")
                    {
                        <option value="1" selected="selected">形态转换看板</option>
                    }
                    else
                    {
                        <option value="1">形态转换看板</option>
                    }
                    @if (ViewBag.orderType == "2")
                    {
                        <option value="2" selected="selected">测试1</option>
                    }
                    else
                    {
                        <option value="2">测试1</option>
                    }
                    @if (ViewBag.orderType == "3")
                    {
                        <option value="3" selected="selected">测试2</option>
                    }
                    else
                    {
                        <option value="3">测试2</option>
                    }
                </select>
            </div>
            @*<div class="layui-inline layui-show-xs-block">
                    <button id="Query" class="btn btn-primary">查询</button>
                </div>*@
            <div class="layui-inline layui-show-xs-block">
                @if (ViewBag.OrderType == "0" || ViewBag.OrderType == "")
                {
                    <span style="font-size:20px;">出货单看板</span>
                }
                else if (ViewBag.OrderType == "1")
                {
                    <span style="font-size:20px;">形态转换看板</span>
                }
            </div>
            <div class="pull-right">
                @if (ViewBag.OrderType == "0" || ViewBag.OrderType == "")
                {
                    <span id="countText" style="font-size:20px;">未发货订单总数:</span>
                    <span id="countAll" style="font-size:20px;"></span>
                }
                else if (ViewBag.OrderType == "1")
                {
                    <span id="countText" style="font-size:20px;">未转换订单总数:</span>
                    <span id="countAll" style="font-size:20px;"></span>
                }
            </div>
        </div>
        <table class="layui-hide" id="seePalletTable" lay-filter="init"></table>
    </div>
</div>

<style type="text/css">
    .x-admin-sm .layui-table td, .x-admin-sm .layui-table th {
        font-size: 20px;
    }

    .layui-disabled, .layui-disabled:hover {
        color: black !important;
        background-color: black;
    }
    /*设置表格单元格线样式*/
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: black;
    }
</style>

<script type="text/javascript">

    layui.use(['laypage', 'layer', 'table'], function () {
        table = layui.table
            , laypage = layui.laypage
            , layer = layui.layer

        if ("@ViewBag.houseNo"!= ""&&"@ViewBag.OrderType" != "") {
            tableInit();
        }

        var houseNo;
        var orderType;
        var totalPage;
        //表格初始化
        function tableInit(type) {
            houseNo = type == "query" ? $("#WAREHOUSENO").val() :
                "@ViewBag.houseNo" == "" ? $("#WAREHOUSENO").val() : "@ViewBag.houseNo";
            orderType = type == "query" ? $("#OrderType").val() :
                "@ViewBag.OrderType" == "" ? $("#OrderType").val() : "@ViewBag.OrderType";
            let is0And1 = (orderType != "0" && orderType != "1");
            let is0 = orderType != "0";
            let is1= orderType != "1";
            table.render({
                elem: '#seePalletTable'
                , height: 620
                , url: '/SeePalletTable/List'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    houseNo: houseNo,
                    OrderType: orderType
                }
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    $("#countAll").text(res.PageData.totalCount);
                    totalPage = res.PageData.totalPages;
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
                , title: '看板报表'
                , page: true
                , cols: [
                    [
                        //出库单+形态转换看板
                        { field: 'DocNo', title: '单号', width: '12%', hide: is0And1 }
                        , { field: 'BusinessDateShow', title: '日期', width: '10%', hide: is0And1 }
                        , { field: 'Customer_Code', title: '客户', width: '10%', hide: is0And1 }

                        //出库单看板
                        , { field: 'Qty', title: '订单发货数量', width: '11%', hide: is0 }
                        , { field: 'SHELVEQTY', title: '已备货数量', width: '9%', hide: is0 }
                        , { field: 'CREATER', title: '备货人', width: '13%', hide: is0 }
                        , { field: 'TransportModeName', title: '发货方式', width: '12%', hide: is0 }
                        , { field: 'PreStocker', title: '预备货员', width: '8%', hide: is0 }

                        //形态转换看板
                        , { field: 'StatusShow', title: '完成状态', width: '8%', hide: is1 }
                        , { field: 'TransferType', title: '转换类型', width: '8%', hide: is1 }
                        , { field: 'PrepareMan', title: '预备货人', width: '8%', hide: is1 }

                         //出库单+形态转换看板
                        , { field: 'BussinessMan', title: '跟单员', width: '8%', hide: is0And1 }
                        , { field: 'EmergencyFlagShow', title: '加急标识', width: '8%', hide: is0And1 }
                    ]
                ],
                done: function (res, curr, count) {
                    $('th').css({'font-size': '25' });
                    var that = this.elem.next();
                    res.data.forEach(function (item, index) {
                        var tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']");
                        if (item.BackColor === "red") {
                            tr.css("background-color", "pink");
                            return false;
                        }
                        if (item.BackColor === "yellow") {
                            tr.css("background-color", "yellow");
                            return false;
                        }
                        if (item.BackColor === "blue") {
                            tr.css("background-color", "#90EE90");
                        }
                    });
                }
            });
        }

        //分页
        laypage.render({
            elem: 'pageDemo'
            , count: 100
            , skin: '#1E9FFF'
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        //查询
        $('#Query').click(function () {
            if ($("#OrderType").val() == "0") {
                $("#countText").text("未发货订单总数:");
            } else if ($("#OrderType").val() == "1") {
                $("#countText").text("未转换订单总数:");
            }
            tableInit("query");
        });

        //定时器,固定时间刷新表格
        @*setInterval(function () {
            table.reload('seePalletTable', {
                page: {
                    curr: (Number($(".layui-laypage-em").next().html()) + 1)
                        > Number(totalPage) ? 1 : (Number($(".layui-laypage-em").next().html()) + 1)
                }
                , where: {
                    houseNo: houseNo,
                    OrderType: orderType
                }
            }, 'data');
        }, @ViewBag.refreshTime);*@

    });
</script>

